@mixin border-radius {
  border-radius: 10px;
}

$color-white: #FF8A00;
$color-black: #000000;
$color-box-shadow: #65a797;
$color-mint: #FF8A00;
$color-blue: #FF8A00;
$color-square-gradient: linear-gradient(4deg, rgba(155,156,156,.29) 55%, rgba(255, 255, 255, 0.08) 100%);
$color-square-webkit-gradient: -webkit-linear-gradient(4deg, rgba(155,156,156,.29) 55%, rgba(255, 247, 255, 0.08) 100%);

